#ignore .temp files
*.temp
#ignore other files
*.zip
*.DS_Store
*.rds
*.log
*.pdf
.Rhistory
.Rapp.history
.RData
etc
*recycled.R
*.grd
*.gri
data/raw/metadata.xlsx
borrar
full_data
#!manuscript/*pdf
manuscript/

